@import "tailwindcss";
html {
  background-color: #444444;
}

* {
  
  box-sizing: border-box;
}

.leaflet-container {
  height: 100vh;
  width: 100vh;
}

.bg-main-color {
  background-color: #000000;
}
.bg-main-card {
  background-color: #1D2B42;
}

.text-color-primary {
  color: #f7e6d3;
}

.button-primary {
  background-color: #536878;
}
